* {
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    
}
p {
    background-color: turquoise;
    font-weight: bold;
}